.crytpo-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}
.crypto{
    background-color:rgb(240, 238, 238);
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
   border-radius: 1rem;
   box-shadow: 10px 10px 5px -4px rgba(17,128,247,1);
}
input{
    padding: 10px;
    width: 20%;
    border-radius: 5px;

}
button{
    padding: 10px;
    margin-left: 10px;
    background-color: dodgerblue;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
.cart{
    text-align: center;
    margin: 3rem;
    padding: 2rem;
    color: rgb(223, 222, 222);
    background-color: rgb(6, 2, 54);
    border: 1px solid rgb(59, 124, 246);
    border-radius: 2rem;
    box-shadow: 10px 10px 5px -4px rgba(17,128,247,1);

}
.crypto-table{
    margin: 0 auto;
}
table{
    width: 80%;
}
table,th,td{
    border: 1px solid rgb(186, 185, 185);
    border-collapse: collapse;
}
th,td{
    padding: 12px;
    width: 100px;
}